 @import "https://fonts.googleapis.com/icon?family=Material+Icons";

.text-center{
    text-align: center;
}
.example-container{
    height: 50%;
    width: 20%;
    text-align: left;
}
.d-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mt-top{
    margin-top: 30px;
}
.mt-top-2{
    margin-top: 22px;
}
.mat-form-field {
  width: 100%;
  min-width: 300px;
}
.button {
  display: flex;
  justify-content: flex-end;
}
