<div class="text-center">
    <h4 class="text-center"> Login form</h4>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="d-flex-center">
      <div class="example-container">
        <div>
          <div>
            <input matInput placeholder="Email" formControlName="email">
            <div *ngIf="!loginForm.get('email')?.errors?.required && (loginForm.get('email')?.errors?.pattern)">
              Please enter a valid email address
            </div>
            <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.required">
              Email is required
            </div>
          </div>
        </div>
        <div class="mt-top-2">
          <mat-form-field appearance="fill">
            <!-- <mat-label>Enter your password</mat-label> -->
            <input placeholder="Enter your password" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error
            *ngIf="
            loginForm.controls['password'].errors?.required &&
            loginForm.controls['password'].touched
            "
          >
            Password is mandatory
          </mat-error>
          <mat-error
            *ngIf="
            loginForm.controls['password'].errors?.oddNumberA &&
            loginForm.controls['password'].touched
            "
          >
            Password should contain odd number of a's
          </mat-error>
        </mat-form-field>

        </div>
        <div class="mt-top">
          <button [disabled]="!loginForm.valid" mat-raised-button color="primary" mat-button>Sign In</button>
        </div>
      </div>
    </form>
  </div>

